<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MGHSQF7');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title | capitalize | default: site.name }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/css/highlighting-default.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}">
  </head>
  <body>
    <div>
      <nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
        <div class="container">
          <a class="navbar-brand" href={{ "/" | relative_url }}>{{ site.name }}</a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
              {% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
              <li {% if location == '' %} class="active"{% endif %} class="nav-item" role="presentation"><a class="nav-link active" href={{ "/" | relative_url }}>Home</a></li>
              <li{% if location == 'audio' %} class="active"{% endif %} class="nav-item" role="presentation"><a class="nav-link" href={{ "/audio" | relative_url }}>Audio</a></li>
              <li{% if location == 'video' %} class="active"{% endif %} class="nav-item" role="presentation"><a class="nav-link" href={{ "/video" | relative_url }}>Video</a></li>
              <li{% if location == 'songs' %} class="active"{% endif %} class="nav-item" role="presentation"><a class="nav-link" href={{ "/songs" | relative_url }}>Songs</a></li>
              <li{% if location == 'concerts' %} class="active"{% endif %} class="nav-item" role="presentation"><a class="nav-link" href={{ "/concerts" | relative_url }}>Concerts</a></li>
              <li{% if location == 'cuerdas_distantes' %} class="active"{% endif %} class="nav-item" role="presentation"><a class="nav-link" href={{ "/cuerdas_distantes" | relative_url }}>Cuerdas Distantes</a></li>
              <li{% if location == 'about_us' %} class="active"{% endif %} class="nav-item" role="presentation"><a class="nav-link" href={{ "/about_us" | relative_url }}>About us</a></li>
            </ul>
            <span class="navbar-text">
              <a href="https://github.com/isabellema/fowlie.github.io"><img src="{{ '/images/GitHub-Mark-32px.png' | relative_url }}" width="16" height="16">Source</a>
            </span>
            </div>
        </div>
      </nav>
    </div>

    <div class="container">
  	  {{ content }}
    </div>
      
    <div class="footer-basic">
      <footer>
        <div class="social">
          <a href="https://www.facebook.com/classifiedpop"><i class="icon ion-social-facebook"></i></a>
        </div>
        <ul class="list-inline">
          <li class="list-inline-item"><a href={{ "/" | relative_url }}>Home</a></li>
          <li class="list-inline-item"><a href={{ "/audio" | relative_url }}>Audio</a></li>
          <li class="list-inline-item"><a href={{ "/video" | relative_url }}>Video</a></li>
          <li class="list-inline-item"><a href={{ "/songs" | relative_url }}>Songs</a></li>
          <li class="list-inline-item"><a href={{ "/songs" | relative_url }}>Songs</a></li>
          <li class="list-inline-item"><a href={{ "/cuerdas_distantes" | relative_url }}>Cuerdas Distantes</a></li>
          <li class="list-inline-item"><a href={{ "/about_us" | relative_url }}>About us</a></li>
          <li class="list-inline-item"><a href="https://github.com/isabellema/fowlie.github.io">Source</a></li>
        </ul>
        <p class="copyright">Mats Faugli & Isabelle Bouch&eacute; © {{ site.time | date: '%Y' }}</p>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
